.room__reviews
    .room__reviews-information
        .room__reviews-info.room__reviews-space
            h2.room__reviews-title Сведения о номере
            img.room__reviews-emoticon(src="img/reviews-room__info/emoticon.jpg" alt="smile")
            p.room__reviews-text-b Комфорт
            p.room__reviews-text Шумопоглощающие стены
            hr.room__reviews-line
            img.room__reviews-city(src="img/reviews-room__info/city.jpg" alt="building")
            p.room__reviews-text-b Удобство
            p.room__reviews-text Окно в каждой из спален
            hr.room__reviews-line
            img.room__reviews-shot(src="img/reviews-room__info/shot.jpg" alt="shot")
            p.room__reviews-text-b Уют
            p.room__reviews-text Номер оснащён камином
        .room__reviews-impressions.room__reviews-space
            h2.room__reviews-title Впечатления от номера
            .room__reviews-circle
                include room__reviews-circle/room__reviews-circle.pug
                ul.room__reviews-list
                    li.room__reviews-option <span>Великолепно
                    li.room__reviews-option <span>Хорошо
                    li.room__reviews-option <span>Удовлетворительно
                    li.room__reviews-option <span>Разочарован
    .room__reviews-comments.room__reviews-space
        h2.room__reviews-title Отзывы посетителей номера <span class="room__reviews-titlenum">2 отзыва
        .room__reviews-comment
            .room__reviews-comment1
                img.room__reviews-avatar(src="img/reviews-room__comment/avatar.png" alt="avatar")
                .room__reviews-like.room__reviews-like_active
                    .room__reviews-heart.room__reviews-heart_liked
                    span.room__reviews-likenum.room__reviews-like_active 12
            .room__reviews-nametxt
                p.room__reviews-comment-name Мурад Сарафанов 
                p.room__reviews-comment-days 5 дней назад
                p.room__reviews-commenttxt Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.
        .room__reviews-comment
            .room__reviews-comment2
                img.room__reviews-avatar(src="img/reviews-room__comment/avatar-2.png" alt="avatar")
                .room__reviews-like
                    .room__reviews-heart
                    span.room__reviews-likenum 2
            .room__reviews-nametxt
                p.room__reviews-comment-name Патрисия Стёклышкова 
                p.room__reviews-comment-days Неделю назад
                p.room__reviews-commenttxt Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент
        script.

            let makeLiked = function(num) {
                $(`.room__reviews-comment${num} > .room__reviews-like`).click(function() {
                    if  ($(`.room__reviews-comment${num} > .room__reviews-like`).hasClass("room__reviews-like_active") && $(`.room__reviews-comment${num} > .room__reviews-like > .room__reviews-likenum`).hasClass("room__reviews-like_active")) {
                        $(`.room__reviews-comment${num} > .room__reviews-like`).removeClass("room__reviews-like_active");
                        $(`.room__reviews-comment${num} > .room__reviews-like > .room__reviews-likenum`).removeClass("room__reviews-like_active");
                        $( `.room__reviews-comment${num} > .room__reviews-like > .room__reviews-heart` ).removeClass("room__reviews-heart_liked");
                    } else {
                        $(`.room__reviews-comment${num} > .room__reviews-like`).addClass("room__reviews-like_active");
                        $(`.room__reviews-comment${num} > .room__reviews-like > .room__reviews-likenum`).addClass("room__reviews-like_active");
                        $( `.room__reviews-comment${num} > .room__reviews-like > .room__reviews-heart` ).addClass("room__reviews-heart_liked");
                    }
                });
            }   
            makeLiked(1);
            makeLiked(2);

    .room__reviews-rulcancel
        .room__reviews-rules.room__reviews-space
            h2.room__reviews-title Правила
            ul.room__reviews-restrictions
                li.room__reviews-res Нельзя с питомцами
                li.room__reviews-res Без вечеринок и мероприятий
                li.room__reviews-res Время прибытия — после 13:00, &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;а выезд до 12:00
        .room__reviews-cancel.room__reviews-space
            h2.room__reviews-title Отмена
            section.room__reviews-canceltxt Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.        